* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f8f9fa;
    padding: 16px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: #e9ecef;
    padding: 13px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}

nav a:hover {
    color: tomato;
}

nav a.active {
    color: tomato;
    font-weight: 500;
}

main {
    max-width: 1200px;
    margin: 32px auto;
    padding: 0 24px;
    flex: 1;
}

section {
    margin-bottom: 32px;
    padding: 24px;
}

h2 {
    font-size: 29px;
    margin-bottom: 16px;
    text-align: center;
}

.full-width-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 32px;
}

.full-width-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content p {
    font-size: 25px;
    line-height: 2;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.advantages ul {
    max-width: 800px;
    margin: 0 auto 16px;
    list-style: none;
    padding-left: 0;
}

.advantages li {
    margin-bottom: 13px;
    font-size: 20px;
    padding: 8px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
    border: 2px solid #ddd;
    text-align: center;
}

th {
    background-color: #f8f9fa;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 24px;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Адаптивность */
@media (max-width: 800px) {
    nav {
        justify-content: space-between;
    }

    .full-width-image {
        height: 300px;
    }

    .full-width-image img {
        width: 500px;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
        font-size: 32px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav a {
        font-size: 22px;
    }

    .full-width-image img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    table,
    th,
    td {
        font-size: 12px;
    }
}